@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #a855f7;
  --color-accent: #f43f5e;
  --color-bg-dark: #030712;
}

@layer base {
  body {
    @apply bg-[#030712] text-slate-100 antialiased;
    font-family: "Inter", sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
    font-family: "Outfit", sans-serif;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
}
